<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= paaotsikko %></title>
    <link rel="stylesheet" href="/tyylit/tyylit.css" type="text/css">
</head>
    <body>
        <main>
            <h1><%= otsikko %></h1>
            <p class="viestialue"><%= viesti %></p>
            <a class="nappi" href="/">Valikkoon</a>
        </main>
    </body>
</html>