<!DOCTYPE html>
<html lang="fi" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="1; url=/">
    <link rel="stylesheet" href="/tyylit/tyylit.css" type="text/css">
    <title>Virhe</title>
</head>
    <body class="virhe">
        <main>
            <h1>Virhe</h1>
            <p><%= viesti %></p>
            <a class="nappi" href="/">Valikko</a>
        </main>
    </body>
</html>